<%= form_for jadwal_vote, url: url do |form| %>
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title"><%= name_page %></h4>
      <p class="card-category"><%= name_page %></p>
      <a class="card-category" onclick="window.location.reload()">Click disini jika tanggal tidak muncul di form</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class='col-sm-12'>
          <div class="form-group">
            <label>Start Time</label><br>
            <%= form.text_field :start_time, class: 'form-control', id: 'datetimepicker' %>
          </div>
        </div>
        <div class='col-sm-12'>
          <div class="form-group">
            <label>End Time</label><br>
            <%= form.text_field :end_time, class: 'form-control', id: 'datetimepicker1' %>
          </div>
        </div>
      </div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  jQuery.datetimepicker.setLocale('de');

  $('#datetimepicker').datetimepicker();
  $('#datetimepicker1').datetimepicker();
</script>