<%= form_for jadwal_vote, url: url do |form| %>
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title"><%= name_page %></h4>
      <p class="card-category"><%= name_page %></p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class='col-sm-12'>
          <div class="form-group">
            <label for="datetimepicker1">Start Time</label><br>
            <%= form.text_field :start_time, class: 'form-control datetimepicker1', id: 'datetimepicker1' %>
          </div>
        </div>
        <div class='col-sm-12'>
          <div class="form-group">
            <label for="datetimepicker2">End Time</label><br>
            <%= form.text_field :end_time, class: 'form-control datetimepicker2', id: 'datetimepicker2' %>
          </div>
        </div>
      </div>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $('#datetimepicker1').datetimepicker({
    format: 'DD/MM/YYYY HH:mm'
  });

  $('#datetimepicker2').datetimepicker({
    format: 'DD/MM/YYYY HH:mm'
  });
</script>

<style>
  .datetimepicker1 td, .datetimepicker1 th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
  }}

  .datetimepicker2 td, .datetimepicker2 th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
  }}
</style>