<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">List Jadwal Votes</h4>
        <p class="card-category">List Jadwal Votes</p>
      </div>
      <div class="card-body">
        <%= link_to "New Jadwal Vote", new_admin_jadwal_vote_path, class: 'btn btn-success' %>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>No</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @jadwal_votes.each_with_index do |vote, idx| %>
                <tr>
                  <td><%= idx+1 %></td>
                  <td><%= date_time(vote.start_time) %></td>
                  <td><%= date_time(vote.end_time) %></td>
                  <td class="text-right">
                    <%= link_to 'Edit', edit_admin_jadwal_vote_path(vote), class: 'btn btn-primary' %>
                    <%= link_to 'Delete', admin_jadwal_vote_path(vote), class: 'btn btn-danger', data: { confirm: "Are you sure?" },method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>