<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">person</i>
        </div>
        <p class="card-category">Jumlah User</p>
        <h3 class="card-title"><%= User.count %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <a href="<%= admin_users_path %>" class="warning-link">Show Users</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_paste</i>
        </div>
        <p class="card-category">Jumlah Post</p>
        <h3 class="card-title"><%= Post.count %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <a href="<%= admin_posts_path %>" class="warning-link">Show Posts</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">person</i>
        </div>
        <p class="card-category">Jumlah Vote User</p>
        <h3 class="card-title"><%= User.get_vote_user.count %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <a href="<%= show_user_vote_admin_homes_path %>" class="warning-link">Show User Vote</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="material-icons">person</i>
        </div>
        <p class="card-category">Jumlah User Tidak Vote</p>
        <h3 class="card-title"><%= User.get_unvote_user.count %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <a href="<%= show_user_unvote_admin_homes_path %>" class="warning-link">Show User Unvote</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @posts.each_with_index do |post, idx| %>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_paste</i>
          </div>
          <p class="card-category">Jumlah Post <%= idx+1 %></p>
          <h3 class="card-title"><%= post.votes_for.size %>
            <small></small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-warning">warning</i>
            <a href="<%= show_vote_post_admin_home_path(post) %>" class="warning-link">Show Post</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_paste</i>
        </div>
        <p class="card-category">Jumlah Vote <%= @tanggal_2 %></p>
        <h3 class="card-title"><%= @vote_tanggal_2 %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <!-- <a href="<%#= show_vote_post_admin_home_path(post) %>" class="warning-link">Show Post</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_paste</i>
        </div>
        <p class="card-category">Jumlah Vote <%= @tanggal_3 %></p>
        <h3 class="card-title"><%= @vote_tanggal_3 %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <!-- <a href="<%#= show_vote_post_admin_home_path(post) %>" class="warning-link">Show Post</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">content_paste</i>
        </div>
        <p class="card-category">Jumlah Vote <%= @tanggal_4 %></p>
        <h3 class="card-title"><%= @vote_tanggal_4 %>
          <small></small>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">warning</i>
          <!-- <a href="<%#= show_vote_post_admin_home_path(post) %>" class="warning-link">Show Post</a> -->
        </div>
      </div>
    </div>
  </div>
</div>