<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">List User Vote</h4>
        <p class="card-category">List User Vote</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <h4>Total Vote : <%= @user_votes1 %></h4>
          <% if params[:jadwal_vote_id].present? %>
            <h4>Total Vote Tanggal <%= get_date(@jadwal_vote.start_time) %> : <%= @user_votes2 %></h4>
          <% end %>
          <% @jadwal_votes.each do |jadwal| %>
            <%= link_to "Jadwal Vote #{get_date(jadwal.start_time)} / Angkatan #{jadwal.angkatan}", show_user_vote_admin_homes_path(jadwal_vote_id: jadwal.id), class: 'btn btn-primary' %>
          <% end %>
          <%= link_to "Show All User Vote", show_user_vote_admin_homes_path, class: 'btn btn-primary' %>
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>No</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Angkatan</th>
                <th>Jadwal Vote</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user_votes.each_with_index do |user, idx| %>
                <tr>
                  <td><%= idx+1 %></td>
                  <td><%= user.email %></td>
                  <td><%= user.full_name %></td>
                  <td><%= user.angkatan %></td>
                  <td><%= get_date(user.jadwal_vote.try(:start_time)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>