<%= form_for post, url: url do |form| %>
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title"><%= name_page %></h4>
      <p class="card-category"><%= name_page %></p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :name_1, 'Calon Ketua', style: 'font-size: 25px;' %><br>
            <%= form.text_field :name_1, class: 'form-control', placeholder: 'Calon Ketua', autocomplete: :off, required: true %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :name_2, 'Calon Wakil Ketua', style: 'font-size: 25px;' %><br>
            <%= form.text_field :name_2, class: 'form-control', placeholder: 'Calon Wakil Ketua', autocomplete: :off, required: true %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :visi, 'Visi' %>
        <%= form.text_field :visi, class: 'form-control', required: true, autocomplete: :off %>
      </div>

      <div class="form-group">
        <%= form.label :misi, 'Misi' %>
        <%= form.text_area :misi, class: 'form-control', rows: 10, required: true, autocomplete: :off %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= form.label :ketua_data, 'Photo Ketua' %>
          <%= form.hidden_field :ketua, value: form.object.cached_ketua_data %>
          <%= form.file_field :ketua, class: 'form-control', onchange: 'preview()' %>
          <% ketua_avatar = post.ketua_data ? post.ketua_url : '' %>
          <%= image_tag ketua_avatar, id: 'frame', width: 500, height: 400 %>
        </div>
      </div>

      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  function preview() {
    frame.src=URL.createObjectURL(event.target.files[0]);
  }

  function preview1() {
    frame1.src=URL.createObjectURL(event.target.files[0]);
  }
</script>