<div class="container">
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag post.ketua(:medium).url, class: 'img-fluid img-thumbnail rounded mx-auto d-block' %>
            <p class="text-center"><%= post.name_1 %></p>
          </div>
          <div class="col-md-6">
            <%= image_tag post.wakil(:medium).url, class: 'img-fluid img-thumbnail rounded mx-auto d-block' %>
            <p class="text-center"><%= post.name_1 %></p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><h4>Visi</h4></p>
          <p><%= post.visi %></p>
          <p class="card-text"><h4>Misi</h4></p>
          <p><%= post.misi %></p>
        </div>
        <div class="card-footer">
          <% if user_signed_in? %>
            <% if post.voted_up_by? current_user %>
              <small class="btn btn-danger col-12">Voted</small>
            <% else %>
              <% if current_user.find_voted_items.present? %>
                <small class="btn btn-danger col-12">Voted</small>
              <% else %>
                <%= link_to 'Vote', vote_user_home_path(post), class: 'btn btn-primary col-12', method: :patch %>
              <% end %>
            <% end %>
          <% else %>
            <small class="btn btn-danger col-12">Login For Vote!</small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>