<!DOCTYPE html>
<html>
  <head>
    <title>VoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application_user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_user', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/shared_user/header' %>
    <div class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <%= image_tag 'kalender_kpu_1.png', style: 'float: right;', class: 'p-3 datepicker', id: 'datetimepicker2' %>
          </div>
        </div>
        <div class="container">
          <% flash.each do |type, msg| %>
            <div class="alert <%= type.eql?("notice") ? 'alert-success' : 'alert-danger' %>">
              <%= msg %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= render 'layouts/shared_user/footer' %>
  </body>
</html>

<script>
  $(function () {
    $('#datetimepicker2').datepicker({
      autoclose: true, 
      todayHighlight: true
    });
  });
</script>

<style>
  body {
    background-image: url('assets/logo_transparant.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 25%;
    background-color: #ccdda2;
  }

  .datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
  }}
</style>
